$header-height: 34px;
$toolbar-height: 34px;
$border-color: rgba(0, 0, 0, 0.12);
$border-hover: 2px solid rgba(0, 0, 0, 0.20);
$border-focus: rgba(36, 110, 36, 0.555);
$button-focus: rgba(16, 230, 33, 0.267);
$button-click: rgb(10, 250, 30);
;
